

.container_trade{
    height:860px;
    width: 100%;
}
.container{
    height: 500px;
    width: 100%;
 

    /*Why is inverted segment have a hole in between*/
    /* margin-top: -20px; */
}
.Team_Content{
    align-content: center;
}
.container_content{
    height:100%;
    width:100vw;
    text-align: center; 
    text-justify: center;
}

.content_wrap{
    margin: 0 100px 100px 100px;
}

.container_inner{

    height:100%;
    width:100vw;
    text-align: center; 
    text-justify: center;
    padding-top: 400px;
}

.Bidpage{
    height: "auto";
    background-image: url('../public/images/pacman.jpg');
    background-size: "cover";
    background-position: "center";

}
.imagebg{
    background-image: url("../public/images/ethereum-underwater.jpg");
    background-position: center;
    justify-self: center;
    background-size: cover;
    height:100%;
    
}

.container_special{
    margin: 100px 100px;
}